:root {
  --primary: #ffe135;
  --bg: #010101;
  --second: #7c4700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #fff;
  height: 1000px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid #513c28;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--second);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Navbar search form */
.navbar .search-form {
  position: absolute;
  top: 100%;
  right: 7%;
  background-color: #fff;
  width: 50rem;
  height: 5rem;
  display: flex;
  align-items: center;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}

.navbar .search-form.active {
  transform: scaleY(1);
}

.navbar .search-form input {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--bg);
  padding: 1rem;
}

.navbar .search-form label {
  cursor: pointer;
  font-size: 2rem;
  margin-right: 1.5rem;
  color: var(--bg);
}

/* Shopping Cart */
.shopping-cart {
  position: absolute;
  top: 100%;
  right: -100%;
  height: 100vh;
  width: 35rem;
  padding: 0 1.5rem;
  background-color: #fff;
  color: var(--bg);
  transition: 0.3s;
}

.shopping-cart.active {
  right: 0;
}

.shopping-cart .cart-item {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #666;
  position: relative;
}

.shopping-cart img {
  height: 6rem;
  border-radius: 50%;
}

.shopping-cart h3 {
  font-size: 1.6rem;
  padding-bottom: 0.5rem;
}

.shopping-cart .item-price {
  font-size: 1.2rem;
}

.shopping-cart .remove-item {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}

.shopping-cart .remove-item:hover {
  color: var(--primary);
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  background-size: cover;
  align-items: center;
  position: relative;
}

.hero .mask-container {
  position: absolute;
  /* background: salmon; */
  inset: 0;
  -webkit-mask-imag: url("../img/header-bg.jpeg/background2.jpg");
  -webkit-mask-repea: no-repeat;
  -webkit-mask-siz: cover;
  -webkit-mask-positio: center;
}

.hero .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 100%;
  display: inline-block;
  margin-top: 90px;
  text-align: left;
}

.hero .mask-container img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  float: right;
}

.hero .content h1 {
  font-size: 5em;
  font-family: "poppins";
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--second);
}

.hero .content p {
  font-size: 1.5rem;
  color: var(--second);
  font-weight: 700;
}

/* Footer */
footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 50rem;
  position: relative;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #fff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: var(--bg);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--bg);
  font-weight: 700;
}

/* Inform Section */
.inform {
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  background-size: cover;
  align-items: center;
  position: relative;
}

.inform .mask-container {
  position: absolute;
  /* background: salmon; */
  inset: 0;
  -webkit-mask-imag: url("../img/header-bg.jpeg/background2.jpg");
  -webkit-mask-repea: no-repeat;
  -webkit-mask-siz: cover;
  -webkit-mask-positio: center;
}

.inform .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.inform .mask-container img {
  width: 400px;
  margin-top: 10px;
  height: 400px;
  border-radius: 50%;
  float: center;
}

.inform .content h1 {
  font-size: 5em;
  font-family: "poppins";
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.inform .content h1 span {
  color: var(--second);
}

.inform .content p {
  font-size: 1.5rem;
  margin-top: 10px;
  text-align: left;
  color: var(--second);
  font-weight: 700;
}

/* History Section */
.his {
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  background-size: cover;
  align-items: center;
  position: relative;
}

.his .mask-container {
  position: absolute;
  /* background: salmon; */
  inset: 0;
  -webkit-mask-imag: url("../img/header-bg.jpeg/background2.jpg");
  -webkit-mask-repea: no-repeat;
  -webkit-mask-siz: cover;
  -webkit-mask-positio: center;
}

.his .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.his .mask-container img {
  width: 500px;
  height: 500px;
  padding: 20px;
  margin-top: 30px;
}

.his .mask-container .img2 {
  width: 400px;
  height: 300px;
}

.his .content h1 {
  font-size: 5em;
  font-family: "poppins";
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.his .content h1 span {
  color: var(--second);
}

.his .content p {
  font-size: 1.2rem;
  margin-top: 50px;
  text-align: left;
  color: var(--second);
  font-weight: 700;
}

.his .content .p1 {
  color: var(--primary);
  margin-top: 20px;
  font-style: italic;
  font-size: 2rem;
}

.his .content .p2 {
  color: var(--primary);
  font-style: italic;
  margin-top: 20px;
  font-size: 2rem;
}

.his .content .p3 {
  color: var(--primary);
  margin-top: 20px;
  font-style: italic;
  font-size: 2rem;
}

/* How To Make Section */
.make {
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  background-size: cover;
  align-items: center;
  position: relative;
}

.make .mask-container {
  position: absolute;
  /* background: salmon; */
  inset: 0;
  -webkit-mask-imag: url("../img/header-bg.jpeg/background2.jpg");
  -webkit-mask-repea: no-repeat;
  -webkit-mask-siz: cover;
  -webkit-mask-positio: center;
}

.make .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.make .mask-container img {
  width: 160px;
  height: 160px;
  padding: 5px;
  margin-top: 10px;
  float: center;
}

.make .content h1 {
  font-size: 5em;
  font-family: "poppins";
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.make .content h1 span {
  color: var(--second);
}

.make .content p {
  font-size: 1.9rem;
  margin-top: 30px;
  text-align: left;
  color: var(--second);
  font-weight: 700;
}

.make .content h2 {
  color: var(--primary);
  margin-top: 20px;
  text-align: left;
  font-size: 2r3em;
}

.make .content .m1 {
  color: var(--primary);
  font-style: italic;
  margin-top: 20px;
  font-size: 2.3rem;
}

.make .content .b1 {
  color: var(--primary);
  font-style: italic;
  margin-top: 20px;
  font-size: 2.3rem;
}

.make .content .m2 {
  color: var(--primary);
  font-style: italic;
  margin-top: 20px;
  font-size: 2.3rem;
}

/* Location Section */
.lok {
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  background-size: cover;
  align-items: center;
  position: relative;
}

.lok .mask-container {
  position: absolute;
  /* background: salmon; */
  inset: 0;
  -webkit-mask-imag: url("../img/header-bg.jpeg/background2.jpg");
  -webkit-mask-repea: no-repeat;
  -webkit-mask-siz: cover;
  -webkit-mask-positio: center;
}

.lok .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.lok .mask-container img {
  width: 370px;
  height: 300px;
  padding: 5px;
  margin-top: 60px;
  float: center;
}

.lok .mask-container .map {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.lok .content h1 {
  font-size: 5em;
  font-family: "poppins";
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.lok .content h1 span {
  color: var(--second);
}

.lok .content p {
  font-size: 1.9rem;
  margin-top: 40px;
  text-align: left;
  color: var(--second);
  font-weight: 700;
}

.lok .content h2 {
  color: var(--primary);
  margin-top: 20px;
  text-align: left;
  font-size: 2r3em;
}

.lok .content .m1 {
  color: var(--primary);
  margin-top: 20px;
  font-size: 2.3rem;
}

.lok .content .b1 {
  color: var(--primary);
  margin-top: 20px;
  font-size: 2.3rem;
}

.lok .content .m2 {
  color: var(--primary);
  margin-top: 20px;
  font-size: 2.3rem;
}

/* Finish Section */
.fin {
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  background-size: cover;
  align-items: center;
  position: relative;
}

.fin .mask-container {
  position: absolute;
  /* background: salmon; */
  inset: 0;
  -webkit-mask-imag: url("../img/header-bg.jpeg/background2.jpg");
  -webkit-mask-repea: no-repeat;
  -webkit-mask-siz: cover;
  -webkit-mask-positio: center;
}

.fin .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.fin .mask-container img {
  width: 270px;
  height: 200px;
  padding: 5px;
  margin-top: 5px;
  float: center;
}

.fin .content h1 {
  font-size: 5em;
  font-family: "poppins";
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.fin .content h1 span {
  color: var(--second);
}

.fin .content p {
  font-size: 1.5rem;
  margin-top: 15px;
  text-align: left;
  color: var(--second);
  font-weight: 700;
}

.fin .content .f2 {
  color: var(--primary);
  margin-top: 50px;
  font-style: italic;
  font-size: 2.5rem;
}

.fin .content .f1 {
  color: var(--primary);
  margin-top: 20px;
  font-style: italic;
  font-size: 2.5rem;
}

.fin .content .m2 {
  color: var(--primary);
  margin-top: 20px;
  font-style: italic;
  font-size: 2.3rem;
}

/* about section */
.ab {
  min-height: 100vh;
  display: flex;
  background-color: #fff;
  background-size: cover;
  align-items: center;
  position: relative;
}

.ab .mask-container {
  position: absolute;
  /* background: salmon; */
  inset: 0;
  -webkit-mask-imag: url("../img/header-bg.jpeg/background2.jpg");
  -webkit-mask-repea: no-repeat;
  -webkit-mask-siz: cover;
  -webkit-mask-positio: center;
}

.ab .content {
  padding: 1.4rem 7%;
  /* max-width: 60rem; */
  width: 100%;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
}

.ab .mask-container img {
  width: 200px;
  display: flex;
  justify-content: center;
  gap: 5px;
  height: 200px;
  padding: 5px;
  border-radius: 50%;
  margin-top: 5px;
  float: left;
}

.ab .content h1 {
  font-size: 5em;
  font-family: "poppins";
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.ab .content h1 span {
  color: var(--second);
}

.ab .content p {
  font-size: 1.5rem;
  text-align: left;
  color: var(--second);
  font-weight: 700;
}

.ab .content .a1 {
  color: var(--primary);
  margin-top: 50px;
  font-style: italic;
  font-size: 2.5rem;
}

.ab .content .pt1 {
  display: block;
  text-wrap: balance;
  text-align: left;
}

.ab .content .f1 {
  color: var(--primary);
  margin-top: 20px;
  font-size: 2.5rem;
}

.ab .content .m2 {
  color: var(--primary);
  margin-top: 20px;
  font-size: 2.3rem;
}

/* Media Queries */
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }

  .inform .mask-container img {
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
  }

  .inform .content p {
    font-size: 1.6rem;
  }

  .his .mask-container img {
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
  }

  .his .content p {
    font-size: 1.46rem;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .navbar .search-form {
    width: 90%;
    right: 2rem;
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }

  .contact .row .map {
    height: 30rem;
  }

  .contact .row form {
    padding-top: 0;
  }

  .modal-content {
    flex-wrap: wrap;
  }

  .inform .mask-container img {
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
  }

  .inform .content p {
    font-size: 1.55rem;
  }

  .his .mask-container img {
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
  }

  .his .content p {
    font-size: 1.26rem;
  }

  .mate .mask-container img {
    flex-wrap: wrap;
    width: 100px;
    height: 100px;
  }

  .mate .content p {
    font-size: 1.85rem;
  }

  .fin .content .p1 {
    font-size: 2rem;
  }

  .fin .content .pt1 {
    font-size: 1.4rem;
  }

  .fin .content .p3 {
    font-size: 2rem;
  }

  .fin .content .pt3 {
    font-size: 1.4rem;
  }
}

/* Mobile Phone */
@media (max-width: 550px) {
  html {
    font-size: 55%;
  }

  .footer {
    margin-top: 500px;
  }

  .ab .mask-container img {
    width: 170px;
    height: 170px;
  }

  .lok .mask-container img {
    width: 200px;
    height: 160px;
    padding: 0;
    margin: 2px;
    margin-top: 50px;
  }

  .fin .mask-container img {
    width: 150px;
    height: 100px;
    padding: 0;
    margin: 2px;
    margin-top: 5px;
  }

  .his .mask-container img {
    width: 90px;
    height: 90px;
    padding: 0;
    margin: 2px;
    margin-top: 5px;
  }

  .his .mask-container .img2 {
    width: 150px;
    height: 100px;
  }

  .his .content p {
    margin-top: 10px;
  }

  .inform .mask-container img {
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
  }

  .inform .content p {
    font-size: 1.4rem;
  }

  .his .mask-container img {
    flex-wrap: wrap;
    width: 150px;
    height: 150px;
  }

  .his .content p {
    font-size: 1.19rem;
  }

  .make .mask-container img {
    flex-wrap: wrap;
    width: 123px;
    height: 123px;
  }

  .mate .mask-container img {
    flex-wrap: wrap;
    width: 90px;
    height: 90px;
  }

  .mate .content p {
    font-size: 1.43rem;
  }

  .lok .content .img1 {
    flex-wrap: wrap;
    width: 140px;
    height: 130px;
    margin-top: 130px;
  }

  .lok .content .img2 {
    flex-wrap: wrap;
    width: 140px;
    height: 130px;
    margin-top: 130px;
  }

  .lok .content .p1 {
    font-size: 1.6rem;
  }

  .fin .content .p1 {
    font-size: 2rem;
  }

  .fin .content .pt1 {
    font-size: 1.7rem;
  }

  .fin .content .p3 {
    font-size: 2rem;
  }

  .fin .content .pt3 {
    font-size: 1.7rem;
  }

  .fin .content .image7 {
    flex-wrap: wrap;
    width: 80px;
    height: 90px;
  }

  .fin .content .image8 {
    flex-wrap: wrap;
    width: 80px;
    height: 90px;
  }

  .inform .mask-container img {
    width: 0;
    height: 0;
  }

  .inform .content p {
    margin-top: 5px;
  }

  .make .mask-container img {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
  }

  .hero .mask-container img {
    margin-top: 5px;
    width: 210px;
    height: 210px;
  }
}
